{% extends 'base.html' %}
{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name }}
        {{ form.name.errors }}
    </p>
    <p>
        <label for="{{ form.cfp.id_for_label }}">{{ form.cpf.label }}:</label>
        {{ form.cpf }}
        {{ form.cpf.errors }}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </p>
    <p>
        <label for="id_phone_0">Phone:</label>
        <input type="text" name="phone_0" value="" id="id_phone_0">
        <input type="text" name="phone_1" value="" id="id_phone_1">
    </p>
    <input type="submit" value="Enviar!" class="button" >
</form>
{% endblock content %}
